---
import { Font } from "astro:assets";
type Props = {
  title?: string;
};

const { title = "Tich - Track your tutoring sessions effortlessly - offline, private, and stress-free." } = Astro.props as Props;
---

<head>
  <Font cssVariable="--font-sans" preload />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta
    name="description"
    content="Tich helps you track your private lessons, earnings and schedule – all offline, locally."
  />
</head>

<style is:global>
  body {
    font-family: var(--font-sans);
  }
</style>
